+++
title = "Docsy"
linkTitle = "Docsy"

+++

{{< blocks/cover title="欢迎使用Docsy！" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">雨果主题为创造伟大的技术资料网站</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Docsy是雨果静态站点生成一个主题多数民众赞成专门为技术文档集设计。
我们的目标是帮助你得到一个工作文档站点并尽可能方便地运行，因此你可以专注于提供使用者丰富的内容。
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="见Docsy在行动！" url="/docs/examples/" %}}
以及我们的示例站点，有越来越多的使用Docsy为他们的文档网站上的项目。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="捐款的欢迎！" url="https://github.com/google/docsy" %}}
我们做了[拉请求](https://github.com/google/docsy/pulls)捐款**GitHub**的工作流。 新用户随时欢迎！
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="在推特上关注我们！" url="https://twitter.com/docsydocs" %}}
了解有关新功能以及如何我们的用户正在使用Docsy。
{{% /blocks/feature %}}


{{< /blocks/section >}}

